<?xml version="1.0"?>
<config>
    <modules>
        <Zookal_Parcelpoint>
            <version>0.1.0</version>
        </Zookal_Parcelpoint>
    </modules>
    <global>
        <helpers>
            <zookalparcelpoint>
                <class>Zookal_Parcelpoint_Helper</class>
            </zookalparcelpoint>
        </helpers>
        <models>
            <zookalparcelpoint>
                <class>Zookal_Parcelpoint_Model</class>
                <resourceModel>parcelpoint_mysql4</resourceModel>
            </zookalparcelpoint>
        </models>
        <resources>
            <zookalparcelpoint_setup>
                <setup>
                    <module>Zookal_Parcelpoint</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zookalparcelpoint_setup>
            <zookalparcelpoint_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zookalparcelpoint_write>
            <zookalparcelpoint_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zookalparcelpoint_read>
        </resources>
    </global>
    <crontab>
        <jobs>
            <parcelpoint_syncbooking>
                <schedule>
                    <config_path>parcelpointapi/booking/scheduler_cron_expr</config_path>
                </schedule>
                <run>
                    <model>zookalparcelpoint/cron::sendParcelpointBooking</model>
                </run>
            </parcelpoint_syncbooking>
        </jobs>
    </crontab>
</config> 